{#footer#}
{% load static %}
<div class="card mt-5 text-center marquee">
  <div class="card-body">
    <h5 class="card-title">School Tittle</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/popper.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
</body>
</html>
