{% load static %}
{% include 'header.html' %}
{% block content %}
    <div class="d-flex flex-row mt-2 ml-2">
    {% for data in products %}
            <div class="card" style="width: 10rem;">
              <img class="mt-2" src="{{data.product_image.url}}" />
              <div class="card-body">
                <h5 class="card-title">{{ data.product_name }}</h5>
                <h5 class="card-title">Rs.{{ data.product_price }}</h5>
                <a href="{% url 'order' data.uuid %}" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
    {% endfor %}
    </div>
{% endblock %}

{% include 'footer.html' %}